@font-face {
  font-family: MetropolisLight;
  src: url('../fonts/Metropolis-Thin.otf') format('otf'),
    url('../fonts/Metropolis-Thin.woff') format('woff'),
    url('../fonts/Metropolis-Thin.woff2') format('woff2');
  font-weight: UltraLight;
}

#navbarNav {
  font-size: calc(26px + .02vw);
  letter-spacing: 1.5px;
  font-family: MetropolisLight;
}

.nav-link {
  font-size: calc(26px + .02vw);
  letter-spacing: 2px;
}
